@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
configuration {
    font: "Inter 14";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}
element {
    spacing: 14px; /* <-- This is the key line */
}
element-icon {
    size: 32px;
    icon-theme: "breeze-dark";
}
listview {
    lines: 12;
}
